
.login-page {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
 
  .login-page h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin: 15px 0;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    margin: 5px 0;
    padding: 8px 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .login-button {
    margin-top: 15px;
    background-color: #0a6dc4;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
  }
  
  .login-button:hover {
    background-color: #085a99;
  }
  